<ion-content [fullscreen]="true">
  <ion-icon src="assets/{{icono}}.svg"
    class="absolute top-5 left-5 w-10 h-10 text-{{colorIcon}} cursor-pointer dark:text-button" (click)="cambiarThema()">
  </ion-icon>
  <div id="contenedor" class="flex items-center justify-center flex-col h-screen w-full bg-fondo dark:bg-dark-fondo">
    <ion-icon src="assets/logo.svg" id="logo"></ion-icon>
    <h1 class="text-texto dark:text-dark-texto text-2xl">Nico-codes</h1>
    <section class="flex items-center justify-center flex-col gap-4">
      <input type="text" placeholder="Nombre usuario"
        class="p-5 border-2 border-gray-400 rounded-full bg-gray-300 text-black dark:bg-dark-input dark:text-dark-input-text">
      <input type="password" placeholder="Contraseña"
        class="p-5 border-2 border-gray-400 rounded-full bg-gray-300 text-black dark:bg-dark-input dark:text-dark-input-text">
      <button
        class="p-4 bg-blue-500 text-white w-full rounded-full dark:bg-dark-button dark:text-dark-button-text">Ingresar</button>
      <p class="text-center text-texto dark:text-dark-texto">¿Olvidaste tu contraseña?</p>
    </section>
  </div>
</ion-content>