<ion-content [fullscreen]="true">
  <div class="flex flex-col h-screen w-full bg-light-bg-theme-2 dark:bg-dark-bg-theme-2">
    <div class="flex justify-between items-center w-full h-28 p-4">
      <img src="assets/img/{{logoDuoc}}.png" class="w-36" />
      <div class="flex items-center gap-2">
        <button
          class="bg-ligth-text-theme-200 border-ligth-text-theme-400 text-ligth-text-theme-900 rounded-full px-4 py-2 dark:bg-dark-text-theme-800 dark:text-dark-text-theme-100 hover:dark:bg-dark-text-theme-900 hover:bg-ligth-text-theme-300 transition-colors duration-100">Ingresar</button>
        <ion-icon src="assets/{{icono}}.svg" (click)="cambiarThema()"
          class="cursor-pointer dark:text-dark-text-theme-100 text-ligth-text-theme-300 text-2xl"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>